

.btn-circle {
  width: 200px;
  height: 200px;
  text-align: center;
  padding: 40px 0;
  font-size: 100px;
  line-height: 2.00;
  border-radius: 100px;
}

.row-centered {
    text-align:center;
}
a h4 {
    color: #7CB85E;
}

a h4 :hover {
    color: #008000;
}
p {
    font-size: 18px;
    font-family: 'Open Sans' , sans-serif;
        font-weight: 150;
}
.col-centered {
    display:inline-block;
    float: none;
    text-align:center;
    /* reset the text-align */
    /* inline-block space fix */
}

h1 {
    font-size: 100px;
}

.container {

    padding-top: 50px;
}

.navbar-fixed-bottom {
    background-color: grey;
    height: 100px;
    text-align: center;
}

.navbar {
    background-color: #7CB85E;;
    color: white;
}

.navbar-brand {
    color: white;
}

.collapse navbar-collapse {
    color: white;
}

.navbar .navbar-default .navbar-fixed-top {
    color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #333;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #333;
}